/*print page only*/
/*scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
header{
  border:1px solid black;
  height: 100px;
  /*width:45%; /*90%->45%*/
  /*width: 45%;/*none*/
  width:458px;
  float:left;/*none*/
}
.companylogo{
  position: absolute;
  width:10%;
  min-width: 100px;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.companyname{
  width:10%;
  min-width: 100px;
  margin-top: 50px;
  font-family:fantasy;

}
/*page title*/
.pagetitle{
  border: 1px solid black;
  /*width:45%;/*90->45*/
  width: 458px;
  margin-left: 458px;
  /*margin-left:45%;/*none*/
  height:100px;
  text-align: left;
  font-family:Verdana, Geneva, sans-serif;
  /*width:856;*/
}
/*.pagetitle h1{
  margin-left:45%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}*/
/*navigation*/
.drop_icon{
}
.dropdown_navigation{
  display: inline-block;
}
.dropdown_content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown_content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown_content a:hover{
  background-color: #ddd;
}
.dropdown_navigation:hover .dropdown_content{
  display: block;
}

/*table*/
table{
  font: 0.8em,Verdana, Geneva, sans-serif;
  text-align: left;
  color: black;
  /*border: 2px solid #E0E0E0;*/
}
table caption{
  font: 1.2em, Verdana, Geneva, sans-serif;
  color:black;
  padding: 5px;
  caption-side: top;
}
table th, table tfoot tr td{
  font: bold .9em Verdana, Geneva, sans-serif;
  padding: 5px;
  text-align: center;
}
table td{
  padding: 4px;
}
table tbody tr.evenRow{
}
/*form*/
#printed_box{
  /*width:90%; /*none*/
  width: 900px;
}
form {
	font: 1em Verdana, Geneva, sans-serif;
	letter-spacing: normal;
	line-height: 100%;
	margin: 0;
	padding: 0;

}

form fieldset {
	border: 2px solid black;
	/*margin-right: 100px;*/
  width:900px; /*none*/
	padding: .5em; }

form legend {
	font: small-caps bold .9em Verdana, Geneva, sans-serif;
	letter-spacing: .2em;
	line-height: 16px;
	text-align: left;
	background-color: inherit; 	 }

form label {
	font: bold .9em Verdana, Geneva, sans-serif;
	text-align:left;
	text-transform: capitalize;
	width: 120px;
	padding-top: .2em;
	position:absolute;
	float:left;
 }
form input{
	font: .9em Verdana, Geneva, sans-serif;
	color: #666;
	background-color: inherit;
	margin-left: 50px;//180->50
	margin-bottom: .5em;
	margin-right: 5px; }
.upperform{
  margin-left: 180px;
}
form input[type="submit"], #clear,#pi, form input[type="button"] {
	font: bold 1em Verdana, Geneva, sans-serif;
	color: inherit;
	background-color: #DDEEFF;

	margin-left: 50px;
  margin-top: 20px;}
/*footer*/
footer{
  margin-top:10px;
  border: 2px solid green;
}
footer h6{
  margin: 0;
  position:absolute;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  /*clear: both;*/
}
.footer_link{
  margin-top: 10px;
  position:absolute;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  /*clear: both;*/
}
